.container-footer {
    background-color: dimgray;
    height: 220px;
    margin: 50px;
}

.container-footer nav {
    /* text-align: center; */
    margin: auto;
    padding: 44.5px;
    /* vertical-align: middle; */
    width: 900px;
    text-align: center;    
}
.container-footer nav a{
    text-decoration: none;
    display: inline-block;
}

.container-footer nav a:hover {
    color: #be80a0;
}
.footer-text {
    text-indent: 1.5em;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: rgb(235, 235, 235); 
    letter-spacing: 1.7px;
    line-height: 1.5rem;
    /* border: 1px solid red; */
    /* vertical-align: middle; */
    
}
.facebook, .email {
    width: 26px;
    height: 26px;
    fill: rgb(235, 235, 235);
    /* border: 1px solid red; */
    vertical-align: middle;
    margin-bottom: 5px;
}

.whatsapp, .instagram {
    width: 24px;
    height: 24px;
    fill: rgb(235, 235, 235);
    vertical-align: middle;
    /* padding-bottom: 3px; */
    margin-bottom: 5px;

    /* border: 1px solid red; */

}

.place-holder {
    width: 29px;
    height: 29px;
    fill: rgb(235, 235, 235);
    stroke: rgb(235, 235, 235);
    stroke-width: 1%;
    vertical-align: middle;
    margin-bottom: 7px;
}