.container-footer {
    background-color: dimgray;
    height: 220px;
    margin: 50px;
    align-items: center;
}

.footer-texts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 45px;
    box-sizing: border-box;
}

.footer-text {
    text-indent: 1.5em;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    color: rgb(235, 235, 235); 
    letter-spacing: 1.7px;
    line-height: 1.5rem;
    text-decoration: none;
    display: inline-block;
}

.footer-text:hover {
    color: #be80a0;
}

.facebook, .email {
    width: 26px;
    height: 26px;
    fill: rgb(235, 235, 235);
    /* border: 1px solid red; */
    vertical-align: middle;
    margin-bottom: 3px;
}

.whatsapp, .instagram {
    width: 24px;
    height: 24px;
    fill: rgb(235, 235, 235);
    vertical-align: middle;
    /* padding-bottom: 3px; */
    margin-bottom: 3px;

    /* border: 1px solid red; */

}

.place-holder {
    width: 29px;
    height: 29px;
    fill: rgb(235, 235, 235);
    stroke: rgb(235, 235, 235);
    stroke-width: 1%;
    vertical-align: middle;
    margin-bottom: 7px;
}