* {
    background: rgb(235, 235, 235);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    margin: 0px;
    padding-top: 6px;
    border: 0px;
}

#container-header {
    display: flex;
    flex-flow: row nowrap;
    border: 0px;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.logo {
    margin-left: 50px;
    width: 50%; 
    /* border: 1px solid blue; */
}
.logoimg {
    width: 400px;
}

.icons-and-menu {
    width: 50%;  
    margin-right: 50px;
    display: flex;
    flex-flow: column nowrap;  
    /* border: 1px solid green; */
}

.icons {
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
}

.fb-icon, .inst-icon, .whts-icon {
    width: 35px;   
    margin: 4px;
    padding-top: 2px;
}

.menu {
    height: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    /* border: 1px solid orange; */
    flex-grow: 1;
}

.menu a {
    font-size: .9rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: dimgray; 
    letter-spacing: 1.7px;
    text-decoration: none;
    padding: 4px;
    margin-left: 15px;
    margin-top: 18px;  
    text-align: center; 
    box-sizing: border-box; 
    /* border: 1px solid red; */
}

.menu a:hover {
    color: #be80a0;
}