body {
    background-color: rgb(235, 235, 235);
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    margin: 0px;
    padding-top: 6px;
    border: 0px;
    max-height: 107px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 85px;
    background: rgba(220, 220, 220, .8);
    backdrop-filter: blur(5px);
    
}

#container-header {
    display: flex;
    flex-flow: row nowrap;
    border: 0px;
    /* border-bottom: 1px solid rgb(196, 196, 196); */
    box-shadow: 0px 3px 7px rgb(204, 204, 204);
}

.logo {
    margin-left: 50px;
    width: 50%; 
    /* max-width: 50%; */
    /* border: 1px solid blue; */
    box-sizing: border-box;
    padding: 0px;
    /* position: fixed; */
}

.logoimg {
    width: auto;
    max-width: 320px;
}

.icons-and-menu {
    width: 50%;  
    margin-right: 50px;
    display: flex;
    flex-flow: column nowrap;  
    /* position: fixed; */
    right: 0;
    /* border: 3px solid green; */
    /* box-sizing: border-box; */
    /* align-items: baseline; */
}

.icons {
    /* height: 100%; */
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
}

.fb-icon, .inst-icon, .whts-icon {
    width: 32px;   
    margin-left: 10px;
    padding-top: 5px;

}

.menu {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    /* flex-grow: 1; */
    padding: 0px;
    /* border: 1px solid orange; */
    margin-top: 14px;
    margin-bottom: 0px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    /* border: 1px solid red; */
    font-size: 1vw;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: dimgray; 
    letter-spacing: 1.7px;
    text-decoration: none;    
    /* text-align: center;  */
    white-space: nowrap;
    padding: 10px;
    /* box-sizing: border-box; */
}

.menu a:hover {
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: ease;
    color: #be80a0;
}