.container-the-office {
    display: flex;
    /* border: 1px solid red;    */
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.container-the-office h1:before {
    content: '';
    display: block;
    background: linear-gradient(to top, #BAA4B2 0%, #BAA4B2 38%, transparent 38%, transparent 100%);
    width: 500px;
    height: 45px;
    position: absolute;
    /* border: 1px solid red; */
    left: 70px;
    z-index: -1;
}

.container-the-office h1 {
    width: 50%;
    font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    color: dimgray; 
    letter-spacing: 2px;
    /* margin-bottom: 15px; */
    margin: 0px;
    /* border: 1px solid red; */
}

.default-text {
    text-indent: 1.5em;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    color: dimgray; 
    letter-spacing: 1.7px;
    line-height: 1.7rem;
    text-align: justify;
}