.subtitle-map {
    display: flex;
    align-items: center;
    margin-top: 15px;
    /* border: 1px solid red; */
}

.subtitle-map h2 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    color: #be80a0; 
    letter-spacing: 2px;
    margin: 0px;
    text-indent: 1em; 
    width: 50%;
    /* border: 1px solid red; */
}

.subtitle-map h2:before {
    content: '';
    display: block;
    background: linear-gradient(to top, #dac0d0 0%, #dac0d0 50%, transparent 50%, transparent 100%);
    width: 300px;
    height: 35px;
    position: absolute;
    /* border: 1px solid red; */
    left: 95px;
    z-index: -1;
}


.felixadv-map {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.location-text {
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    color: dimgray; 
    letter-spacing: 1.7px;
    text-align: center;
    margin-bottom: 10px;
}

#container-map {
    display: block;
    border: 1px solid  #be80a0;
    background:#dac0d0;
    /* background: black; */
    width: 942px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    overflow: hidden;
}

.img-map {
    border-bottom: 1px solid #be80a0;  
}

.arrowdown3 {
    margin-top: 20px;
    text-align: center;
    /* border: 1px solid red; */
}


