.subtitle-occupation {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 18px;   
}

.subtitle-occupation h2 {
    /* border: 1px solid red; */
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    color: #be80a0; 
    letter-spacing: 2px;
    margin: 0px;
    text-indent: 1em; 
    width: 50%;
}

.subtitle-occupation h2:before {
    content: '';
    display: block;
    background: linear-gradient(to top, #dac0d0 0%, #dac0d0 50%, transparent 50%, transparent 100%);
    width: 300px;
    height: 35px;
    position: absolute;
    /* border: 1px solid red; */
    left: 95px;
    z-index: -1;
}

.arrowdown2 {
    width: 53.3%;
    /* border: 1px solid red; */
    /* padding-bottom: 20px; */
}

.occupation-area-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.occupation-area-icons .line1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.occupation-area-icons .line2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.occupation-area-icons .group-icon{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.oc-icon {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #be80a0;
    width: 120px;
    height: 120;
    max-width: 100%;
    padding: 10px;
    /* box-sizing: border-box; */
    border-radius: 50%;
    margin: 10px 60px 10px 60px;
    fill: currentColor;
}

.oc-icon:hover {
    background: rgb(220, 220, 220);
    /* filter: blur(2px); */
}

.group-icon {
    position: relative;
}

.occ-more {
    position: absolute;
    top: 75px;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.area-title {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;  
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: dimgray; 
    letter-spacing: 1.7px;
    width: 200px;
    text-align: center;
}

.area-title:hover {
    color: #be80a0;
    
}