.subtitle-team {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.subtitle-team h2 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    color: #be80a0; 
    letter-spacing: 2px;
    margin: 0px;
    text-indent: 1em; 
    width: 50%;
    /* border: 1px solid red; */
}

.container-team {
    display: flex;
    flex-flow: column wrap;
    /* border: 2px solid green; */
    /* justify-content: space-between; */
}

.container-team img {
    max-height: 210px;
    /* max-width: 100vw; */
    margin: 5px 5px 5px 5px;
}

.team-line1 {
    display: flex;
    justify-content: space-around;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */

}

.team-line2 {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}