.subtitle-team {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    
}

.subtitle-team h2 {
    
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-variant: small-caps;
    color: #be80a0; 
    letter-spacing: 2px;
    margin: 0px;
    text-indent: 1em; 
    width: 50%;

    /* border: 1px solid red; */
}

.subtitle-team h2:before {
    content: '';
    display: block;
    background: linear-gradient(to top, #dac0d0 0%, #dac0d0 50%, transparent 50%, transparent 100%);
    width: 300px;
    height: 35px;
    position: absolute;
    /* border: 1px solid red; */
    left: 95px;
    z-index: -1;
}

.container-team {
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient(to top, transparent 0%, transparent 33.3%, #BAA4B2 33.3%,#BAA4B2 66.6%, transparent 66.6%, transparent 100%)
    /* border: 2px solid green; */
    /* justify-content: space-between; */
}

.team-line1 {
    display: flex;
    justify-content: space-around;
    width: 53%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* border: 1px solid red; */
}

.team-line2 {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    /* border: 1px solid red; */
}

.container-adv {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.adv-image:hover {
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    z-index: 1;
    box-shadow: 0px 0px 15px;
}

.adv-image {    
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    margin: 0px;
    max-height: 210px;
    /* border: 1px solid red; */
}

.container-subtitle {
    position: relative;
}

.adv-subtitle {
    position: absolute;
    bottom: 0px;
    left: 15px;
    margin: 0px;
    width: 120px;
    /* height: 35px; */
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    /* font-weight: bold; */
    /* letter-spacing: 1.7px; */
    color:  #dac0d0;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
    /* border: 1px solid green; */
    background-color: dimgrey;
}

.subtitle-hover {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    bottom: -59px;
    left: -48px;
    padding: 10px;
    z-index: 5;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    color:  #dac0d0;
    background-color: dimgrey;
    width: 234px;
    text-align: center;
    line-height: 1.5rem;
    opacity: 0;
    display: none;
    box-shadow: 0px -5px#dac0d0;
    /* display: block; */
    /* border: 1px solid red; */
}

.container-adv:hover .subtitle-hover {
    opacity: 1;
    display: block;
}
